
<ul id="home-links">
    <li>
        <%= link_to "Trainers", trainers_url %>
    </li>
    <li>
    <%= link_to "Battles", battles_url %>
    </li>
    <li>
    <%= link_to "Moves", moves_url %>
    </li>
    <li>
    <%= link_to "Pokemon Stats", pokemon_stats_url %>
    </li>
</ul>